@import url('https://fonts.googleapis.com/css2?family=Ropa+Sans&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    font-family: 'Ropa Sans';
}

#container{
    width: 1000px;
    margin: 10px auto;
    background-color: #FFFFFF;
}

header {
    width: 1000px;
    height: 49px;
    padding: 0 31px 0 44px;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    background: #FFFFFF;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.25);
}
.logo {
    display: flex;
    align-items: center;
}
.menu{
    width: 24px;
    height: 24px;
}
div.banner {
    
    background: url(../imagem/rectangle3.svg) no-repeat center;
    background-size: cover;
    width: 80%;
    height: 259px;
    margin: 20px auto;
}
/*div.botoes {
    display: flex;
    justify-content: center;
    
}*/

.botao1, .botao2 {

    background-color: rgba(141, 141, 141, 0.62);
    opacity: 0.8;
    
    
    border-color: rgba(141, 141, 141, 0.62);
    border-radius: 25px;
    
    
    color:#FFFFFF;
    font-size: 25px;
    text-align: center;
    margin: 0 15px;
    width: 39px;
    height: 39px;

}

.botao1 {
    position:absolute;
    margin-top: 115px;
}

.botao2 {
    position:absolute;
    margin-top: 115px;
    margin-left: 750px;
}

div.texto {
    display: flex;
    justify-content:space-between;
    
    
}
.coluna1 {
    flex-direction: column;
    margin:37px 48px 0px 95px;
    width: 256px;
    height: 242px;
    background-color: #eeeeeee5;
}
.coluna2 {

    flex-direction: column;
    margin:37px 96px 0px 48px;
    width: 256px;
    height: 242px;
    background-color: #eeeeeee5;
}
div.valor {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 9px;

}
.preco {
    font-size: 25px;
    color: #888888;
}
button.new {
    text-align: center;
    font-size: 20px;
    color: #FFFFFF;

    width: 56px;
    height: 25px;
    
    border-radius: 10.5px;
    border-color: #51D275;
    background-color: #51D275;

}
.descricao1 p{
    padding-top: 12px;

    font-size: 10px;
    text-align: justify;
}
div.valor2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 9px;

}
.preco2 {
    font-size: 25px;
    color: #888888;
}
button.sale {
    text-align: center;
    font-size: 20px;
    color: #FFFFFF;

    width: 56px;
    height: 25px;
    
    border-radius: 10.5px;
    border-color: #DC9730;
    background-color: #DC9730;

}
.descricao2 p{
    padding-top: 12px;

    font-size: 10px;
    text-align: justify;
}

div.caixa{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.texto4{
    width: 266px;
    height: 33px;
    margin-top: 45px;
    margin-bottom: 13px;

    font-weight: 400;
    font-size: 25px;
    line-height: 27px;
    
    text-align: center;

    color: #888888;
}
.link1 {
    background: url(../imagem/your_syle_industrial.svg) no-repeat;
    background-size:cover;
    opacity: 0.6;
    width: 80%;
    height: 80px;
}
.link2 {
    margin-top: 31px;
    background: url(../imagem/your_style_modern.svg) no-repeat;
    background-size:cover;
    opacity: 0.6;
    width: 80%;
    height: 80px;
}
.link3 {
    margin-top: 31px;
    margin-bottom: 31px;
    background: url(../imagem/your_style_classic.svg) no-repeat;
    background-size:cover;
    opacity: 0.6;
    width: 80%;
    height: 80px;
}
.estilo-ind, .estilo-mord, .estilo-class {
    text-align: center;
    align-items: center;
    padding-top: 28px;
    padding-bottom: 18px;
    font-size: 25px;
    color: #FFFFFF;
}

div.rodape {

    margin-top: 75px;
    width: 1000px;
    height: 243px;
    margin: 10px auto;
    background-color: #333333;

    font-size: 13px;
    text-align: justify;
    color: #FFFFFF;
   
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.info img {
    padding: 0 15px;
}


